* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  position: relative;
  overflow-x: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
}

.invite {
  height: 40px;
  width: 150px;
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%) 0%, hsl(192deg, 70%, 51%) 100%);
  border: none;
  border-radius: 25px;
  color: hsl(0deg, 0%, 100%);
  font-weight: bold;
  transition: all 0.3s;
}
.invite:hover {
  opacity: 60%;
  cursor: pointer;
}

.paragraph {
  color: hsl(233deg, 8%, 62%);
  font-size: 1.55rem;
}

.nav {
  padding: 1em;
  height: 70px;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  position: fixed;
  z-index: 10;
}
.nav__burger, .nav__Xicon {
  padding: 0.5em;
  position: absolute;
  top: 3px;
  right: 5px;
  border: none;
  background-color: hsl(0deg, 0%, 100%);
}
.nav__invite {
  display: none;
}
.nav__logo {
  padding: 0.5em;
}
.nav__links {
  position: absolute;
  top: -350px;
  height: 250px;
  width: 90%;
  padding: 1em;
  text-align: center;
  list-style: none;
  border-radius: 15px;
  background-color: hsl(0deg, 0%, 100%);
}
.nav__links li {
  margin-top: 1em;
}
.nav__links-link {
  position: relative;
  text-decoration: none;
  color: hsl(233deg, 26%, 24%);
}
.nav__links-link:hover::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  width: 60px;
  height: 3px;
  transform: translateX(-50%);
  background-color: hsl(136deg, 65%, 51%);
}
.nav .hide {
  display: none;
}
.nav .active {
  display: block;
}
.nav .active-nav {
  transform: translateY(400px);
}

.header {
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: hsl(0deg, 0%, 98%);
}
.header__bg {
  width: 100%;
  z-index: -5;
}
.header__bg--desktop {
  display: none;
  position: absolute;
  height: 30px;
  top: 0;
  right: -300px;
  z-index: 0;
}
.header__mockup {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 310px;
  z-index: 5;
}
.header__heading {
  margin: 0.7em auto;
  font-weight: 300;
  color: hsl(233deg, 26%, 24%);
}
.header__paragraph {
  padding: 0 2em;
  margin-bottom: 1em;
}
.header__invite {
  font-size: 1.4rem;
  margin-bottom: 3em;
}

.main .section {
  text-align: center;
  padding: 3em 0.7em;
}
.main .section__heading {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 300;
  color: hsl(233deg, 26%, 24%);
}
.main .why-choose-us {
  background-color: hsl(220deg, 16%, 96%);
}
.main .why-choose-us__cards {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
}
.main .why-choose-us__cards-card {
  margin: 1em 0;
}
.main .why-choose-us__cards-card-heading {
  margin-top: 1em;
  margin-bottom: 0.7em;
  font-weight: 300;
  color: hsl(233deg, 26%, 24%);
}
.main .latest-articles {
  background-color: hsl(0deg, 0%, 98%);
}
.main .latest-articles__cards {
  margin: 0 auto;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
}
.main .latest-articles__cards-card {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 290px;
  text-align: left;
  background-color: hsl(0deg, 0%, 100%);
}
.main .latest-articles__cards-card .text {
  padding: 1.5em;
}
.main .latest-articles__cards-card-img {
  width: 290px;
}
.main .latest-articles__cards-card-img--first {
  height: 193px;
}
.main .latest-articles__cards-card-author {
  font-size: 1.3rem;
}
.main .latest-articles__cards-card-heading {
  margin: 0.5em 0;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s;
}
.main .latest-articles__cards-card-heading:hover {
  color: hsl(136deg, 65%, 51%);
}

.footer {
  padding: 2em;
  text-align: center;
  background-color: hsl(233deg, 26%, 24%);
}
.footer .share {
  display: flex;
  flex-direction: column;
}
.footer__socials {
  margin: 1em;
}
.footer__socials-social {
  margin: 0.5em;
  background-color: hsl(233deg, 26%, 24%);
  transition: all 0.3s;
}
.footer__socials-social:hover {
  box-shadow: 0 0 15px hsl(136deg, 65%, 51%);
}
.footer__links {
  display: flex;
  flex-direction: column;
  margin: 2em;
}
.footer__links-link {
  margin: 0.3em;
  color: hsl(0deg, 0%, 100%);
  font-weight: 300;
  text-decoration: none;
  font-size: 1.6rem;
  transition: color 0.3s;
}
.footer__links-link:hover {
  color: hsl(136deg, 65%, 51%);
}
.footer__invite {
  font-size: 1.4rem;
}
.footer__paragraph {
  margin: 2em 0;
}
.footer .attribution p {
  font-size: 1.1rem;
  text-align: center;
  color: hsl(233deg, 8%, 62%);
}
.footer .attribution p a {
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    max-width: 450px;
  }
}
@media (min-width: 400px) {
  .header__mockup {
    width: 370px;
    height: 453px;
  }
}
@media (min-width: 500px) {
  .header__mockup {
    width: 480px;
    height: 600px;
  }
}
@media (min-width: 580px) {
  .header__heading {
    margin-top: -2em;
  }
}
@media (min-width: 576px) {
  .header__bg {
    height: 720px;
  }
  .main .section__heading {
    font-size: 3rem;
  }
  .main .section__paragraph {
    margin: 0 auto;
    padding: 1em;
  }
  .main .why-choose-us__cards-card {
    margin: 0 auto;
    padding: 1em;
    width: 500px;
  }
  .main .latest-articles .paragraph {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
  .nav {
    position: absolute;
    height: 67px;
  }
  .nav__burger img {
    display: none;
  }
  .nav__logo {
    padding: 0.2em;
  }
  .nav__invite {
    display: block;
    position: absolute;
    top: -7px;
    right: -2px;
    z-index: 10;
  }
  .nav__links {
    display: flex;
    height: 42px;
    top: -33px;
    right: -75px;
    background-color: none;
  }
  .nav__links-link {
    margin-right: 1.5em;
    font-weight: 300;
    color: hsl(233deg, 8%, 62%);
  }
  .nav__links-link:hover::after {
    top: 40px;
  }
  .main .latest-articles .section__heading {
    margin-bottom: 2em;
  }
  .footer .container {
    display: flex;
    flex-direction: row;
  }
  .footer__logo {
    margin-bottom: 1em;
    width: 139px;
    height: 20px;
  }
  .footer__links {
    text-align: left;
    flex-direction: row;
  }
  .footer__links .share {
    margin: 0 2em;
  }
  .footer .one {
    margin-top: 40px;
  }
  .footer .four {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 810px;
  }
  .nav {
    position: fixed;
  }
  .nav__links {
    right: -110px;
  }
  .nav__invite {
    right: 60px;
  }
  .header {
    background-color: hsl(0deg, 0%, 98%);
    height: 730px;
  }
  .header__bg--mobile {
    display: none;
  }
  .header__bg--desktop {
    display: block;
    width: 850px;
  }
  .header__mockup {
    position: absolute;
    top: -100px;
    right: -800px;
    width: auto;
    height: auto;
    z-index: 7;
  }
  .header__heading {
    margin-top: 0;
    margin-left: 10px;
  }
  .header .text {
    position: absolute;
    width: 400px;
    top: 250px;
    left: -5em;
    z-index: 6;
  }
  .main .section {
    text-align: left;
  }
  .main .section__heading {
    margin-left: 15px;
  }
  .main .why-choose-us__cards {
    width: 100%;
    margin-left: -95px;
    justify-content: center;
  }
  .main .why-choose-us__cards-card {
    margin-right: 10px;
    width: 300px;
  }
  .main .latest-articles__cards {
    width: 100%;
    margin-left: -90px;
    justify-content: center;
  }
  .main .latest-articles__cards-card {
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .nav__links {
    right: -155px;
  }
  .header__heading {
    font-size: 5rem;
    margin-left: 0;
  }
  .header__paragraph {
    font-size: 1.8rem;
  }
  .header .text {
    margin-left: 2em;
    text-align: left;
    width: 500px;
  }
  .header .text .paragraph {
    padding: 0;
  }
  .header__invite {
    margin-top: 1.5em;
    font-size: 1.6rem;
  }
  .main .section__heading {
    margin-top: 2em;
    font-size: 3.5rem;
  }
  .main .why-choose-us__cards {
    margin-left: -20px;
  }
  .main .why-choose-us__cards-card {
    margin: auto;
  }
  .main .latest-articles__cards {
    margin-left: -15px;
  }
  .main .latest-articles__cards-card {
    margin: 1em;
  }
  .main .latest-articles__cards-card .paragraph {
    width: 236px;
  }
  .footer__links {
    margin-left: 4em;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
  .nav__links {
    right: -250px;
  }
  .nav__invite {
    right: 0;
  }
  .header .text {
    margin-left: 5em;
    width: 600px;
  }
  .main .section__paragraph {
    margin-left: 0;
    width: 600px;
  }
  .main .why-choose-us__cards {
    margin-left: 0;
  }
  .main .latest-articles__cards {
    margin-left: 0;
  }
  .main .latest-articles__cards-card {
    width: 280px;
    margin: 0.5em;
  }
  .main .latest-articles__cards-card-img {
    width: 280px;
  }
  .main .latest-articles__cards-card-img--first {
    height: 186.5px;
  }
}/*# sourceMappingURL=style.css.map */