@use 'reset';
@use 'colors' as *;

body {
	font-family: 'Public Sans', sans-serif;
	font-size: 1.8rem;
	position: relative;
	overflow-x: hidden;
}

.container {
	position: relative;
	margin: 0 auto;
}

.invite {
	height: 40px;
	width: 150px;
	font-family: 'Public Sans', sans-serif;
	font-size: 1.6rem;
	background: linear-gradient(to right, $lime-green 0%, $bright-cyan 100%);
	border: none;
	border-radius: 25px;
	color: $white;
	font-weight: bold;
	transition: all 0.3s;

	&:hover {
		opacity: 60%;
		cursor: pointer;
	}
}

.paragraph {
	color: $grayish-blue;
	font-size: 1.55rem;
}

.nav {
	padding: 1em;
	height: 70px;
	width: 100%;
	background-color: $white;
	position: fixed;
	z-index: 10;

	&__burger,
	&__Xicon {
		padding: 0.5em;
		position: absolute;
		top: 3px;
		right: 5px;
		border: none;
		background-color: $white;
	}

	&__invite {
		display: none;
	}

	&__logo {
		padding: 0.5em;
	}

	&__links {
		position: absolute;
		top: -350px;
		height: 250px;
		width: 90%;
		padding: 1em;
		text-align: center;
		list-style: none;
		border-radius: 15px;
		background-color: $white;

		li {
			margin-top: 1em;
		}

		&-link {
			position: relative;
			text-decoration: none;
			color: $dark-blue;

			&:hover {
				&::after {
					content: '';
					position: absolute;
					top: 25px;
					left: 50%;
					width: 60px;
					height: 3px;
					transform: translateX(-50%);
					background-color: $lime-green;
				}
			}
		}
	}

	.hide {
		display: none;
	}

	.active {
		display: block;
	}

	.active-nav {
		transform: translateY(400px);
	}
}

.header {
	overflow: hidden;
	position: relative;
	text-align: center;
	background-color: $very-light-gray;

	&__bg {
		width: 100%;
		z-index: -5;

		&--desktop {
			display: none;
			position: absolute;
			height: 30px;
			top: 0;
			right: -300px;
			z-index: 0;
		}
	}

	&__mockup {
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 310px;
		z-index: 5;
	}

	&__heading {
		margin: 0.7em auto;
		font-weight: 300;
		color: $dark-blue;
	}

	&__paragraph {
		padding: 0 2em;
		margin-bottom: 1em;
	}

	&__invite {
		font-size: 1.4rem;
		margin-bottom: 3em;
	}
}

.main {
	.section {
		text-align: center;
		padding: 3em 0.7em;

		&__heading {
			margin-top: 1em;
			margin-bottom: 0.5em;
			font-weight: 300;
			color: $dark-blue;
		}
	}

	.why-choose-us {
		background-color: $light-grayish-blue;

		&__cards {
			margin: 2em;
			display: flex;
			flex-wrap: wrap;

			&-card {
				margin: 1em 0;

				&-heading {
					margin-top: 1em;
					margin-bottom: 0.7em;
					font-weight: 300;
					color: $dark-blue;
				}
			}
		}
	}

	.latest-articles {
		background-color: $very-light-gray;

		&__cards {
			margin: 0 auto;
			margin-top: 2em;
			display: flex;
			flex-wrap: wrap;

			&-card {
				margin: 0 auto;
				margin-bottom: 2em;
				width: 290px;
				text-align: left;
				background-color: $white;

				.text {
					padding: 1.5em;
				}

				&-img {
					width: 290px;

					&--first {
						height: 193px;
					}
				}

				&-author {
					font-size: 1.3rem;
				}

				&-heading {
					margin: 0.5em 0;
					font-weight: 300;
					cursor: pointer;
					transition: all 0.3s;

					&:hover {
						color: $lime-green;
					}
				}
			}
		}
	}
}

.footer {
	padding: 2em;
	text-align: center;
	background-color: $dark-blue;

	.share {
		display: flex;
		flex-direction: column;
	}

	&__socials {
		margin: 1em;

		&-social {
			margin: 0.5em;
			background-color: $dark-blue;
			transition: all .3s;

			&:hover {
				box-shadow: 0 0 15px $lime-green;
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		margin: 2em;

		&-link {
			margin: 0.3em;
			color: $white;
			font-weight: 300;
			text-decoration: none;
			font-size: 1.6rem;
			transition: color .3s;

			&:hover {
				color: $lime-green;
			}
		}
	}

	&__invite {
		font-size: 1.4rem;
	}

	&__paragraph {
		margin: 2em 0;
	}

	.attribution {
		p {
			font-size: 1.1rem;
			text-align: center;
			color: $grayish-blue;

			a {
				color: hsl(228, 45%, 44%);
				text-decoration: none;
			}
		}
	}
}

@import 'small';
@import 'medium';
@import 'large';
